body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14pt;
}
#background-canvas{
	z-index: 0;
}
li a:hover {
	text-decoration: none;
	color: black;
}
li a {
	color: white;
}
.inactive {
	display: none;
}
#nav-toggle {
	color: rgb(117, 129, 163);
	background: rgb(255,255,255,0.8);
	float: left;
	position: fixed;
	left: 5px;
	top: 5px;
	z-index: 2;
	border-radius: 0px;
}
#close-nav {
	background: rgb(255,255,255,0.8);
	float: left;
	position: fixed;
	left: 5px;
	top: 5px;
	z-index: 2;
	border-radius: 0px;
}
#bar-wrapper{
	background: #404040;
	position: fixed;
	padding-top: 5px;
	padding-left: 25px;
	width: 100%;
	left: 0px;
	top: 0px;	
	z-index: 1;
	box-shadow: 1px 1px 1px #888888;
}
.brand {
	font-size: 18pt;
	font-weight: 700;
}
ul {
	list-style-type: none;
	margin: 10px;
	margin-top: 2px;
}
li {
	padding: 10px;
	text-align: middle;
}
.bar-nav {
	color: black;
}
#start {
    background: rgba(117, 129, 163, 0.9); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, rgba(117, 129, 163, 0.9), rgba(152, 117, 163,0.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, rgba(117, 129, 163, 0.9), rgba(152, 117, 163, 0.9)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, rgba(117, 129, 163, 0.9), rgba(152, 117, 163, 0.9)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, rgba(117, 129, 163, 0.9), rgba(152, 117, 163, 0.9));
	z-index:-2;	
	height: 90vh;
	margin-bottom: 0px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/
}
#learnmore {
	height: 10vh;
	text-align: center;
	background-color: white;
}
#learnmore a {
	color: rgb(117, 129, 163);
}
#learnmore p {
	padding-top: 10px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;	
}
#learnmore i {
	margin-top: 0px;
	padding-top: 0px;
}


.landing-text {
    text-align: center;
    padding-top: 20vh;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    z-index: 3;
    
    animation: slideup 0.6s cubic-bezier(.2,.71,.9,1.26);
    -moz-animation: slideup 0.6s cubic-bezier(.2,.71,.9,1.26); /* Firefox */
    -webkit-animation: slideup 0.6s cubic-bezier(.2,.71,.9,1.26); /* Safari and Chrome */
    -o-animation: slideup 0.6s cubic-bezier(.2,.71,.9,1.26); /* Opera */
}
.purple-text {
    color: rgb(117, 129, 163);
}
@keyframes slideup {
	from{
		transform: translateY(400px);
	}
	to {
		transform: translateY(0px);
	}
}
@-moz-keyframes slideup { /* Firefox */
	from{
		transform: translateY(400px);
	}
	to {
		transform: translateY(0px);
	}
}
@-webkit-keyframes slideup { /* Safari and Chrome */
	from{
		transform: translateY(400px);
	}
	to {
		transform: translateY(0px);
	}
}
@-o-keyframes slideup { /* Opera */
	from{
		transform: translateY(400px);
	}
	to {
		transform: translateY(0px);
	}
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.fa-github:hover {
	color: black;
	opacity: 0.6;
}
.fa-linkedin-square:hover {
	color: rgb(0,119,181);
	opacity: 0.6;
}
.fa-youtube-play:hover {
	color: red;
	opacity: 0.6;
}
.fa-twitter:hover {
	color: rgb(0, 172, 237);
	opacity: 0.6;
}
.landing-text h1 {
	font-weight: 700;
}
.icons {
	color: white;
	padding: 5px;
}
.right{
	text-align: right;
	padding-right: 5px;
}
.left {
	text-align: left;
	padding-left: 5px;
}
@media(max-width:991px){
.right{
	text-align: center;
	padding: 10px;
	margin: 0;
}
.left {
	text-align: center;
	padding: 10px;
	margin: 0;
}
}
.tleft{
	text-align: left;
	padding-left: 15px;
}
.slide-in {
    animation: slide-in 1s forwards;
    -webkit-animation: slide-in 1s forwards;
}
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
   
section {
	margin-bottom: 0px;
	padding-bottom: 20px;
	background-color: white;
}
section h2 {
	color: rgb(117, 129, 163);
	font-weight: 700;
}
section h3 {
	color: rgb(117, 129, 163);
	font-weight: 700;
}
.row{
	margin-bottom: 20px;
}
.about {
	padding-top: 30px;
	background-color: white;
	
}
#about-container{
	transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}
@media(max-width: 600px){
	#about-container{
	transform: translateX(0%);
    -webkit-transform: translateX(0%);
}
}
#head-shot {
	border: 5px solid rgb(117, 129, 163);
	height: 150px;
	width: 150px;
	float: left;
	margin: 0 10px 5px 0;
}
.skills{
	background-color: white;
	text-align: center;
	padding-top: 30px;
}
#skills-container{
	transform: translateX(100%);
    -webkit-transform: translateX(100%);
}
@media(max-width: 600px){
	#skills-container{
	transform: translateX(0%);
    -webkit-transform: translateX(0%);
}
}
.skills h2 {
	text-align: left;
}
.skills div {
	display: inline-block;
	padding: 5px;
}
.portfolio{
	text-align: center;
	padding-top: 30px;
	background-color: white;
}
#portfolio-container{
	transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}
@media(max-width: 600px){
	#portfolio-container{
	transform: translateX(0%);
    -webkit-transform: translateX(0%);
}
}
.portfolio h2 {
	text-align: left;
}
.portfolio p {
	color: grey;
}
.portfolio-img {
	width: 100%;
	height: auto;
}
img:hover{
	opacity: 0.5;

}
.tech{
	opacity: 0.5;
	text-align: left;
	padding-left: 10px;
	position: absolute;
	margin-top: -30px;
}
.proj{
	padding-bottom: 20px;
}
.gitbut{
	border: solid 2px rgb(117, 129, 163);
	color: rgb(117, 129, 163);
	border-radius: 5px;
}
.see-more{
   margin: 10px 0px;
}
.hidden{
    display: none;
}
.videos {
	padding-top: 30px;
	background-color: white;
}
.pad {
	padding-top: 20px;
}
footer {
	margin-top: 0px;
	text-align: center;
	color: white;
	padding: 20px;
	opacity: 0.9;
	background: rgb(117, 129, 163); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163));
}
footer a:hover {
	color: black;
}
footer a {
	color: white;
}
@media only screen and (max-device-width: 480px) {
	#nav-toggle {
		background: white;
		color: black;
	}
	#logo {
		height: 30px;
	}
	#bar-wrapper{
		width: 100%;
	}
	iframe {
		width:100%;
		height: auto;
	}
	#start {
		height: 80vh;
	}
	.landing-text{
		padding-top: 10vh;
	}
	#learnmore {
		height: 20vh;
	}
}



canvas {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
}
.cont{
  height: 600px;
  width: 100%;
  position: fixed;
  z-index: -1;
  
  
}