.jumbotron {
	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163));
}
.landing-text {
	text-align: center;
	color: white;
}
.icons {
	color: white;
}
