body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14pt;
}
li a:hover {
	text-decoration: none;
	color: black;
}
li a {
	color: white;
}
.inactive {
	display:none;
}
#nav-toggle {
	color: rgb(117, 129, 163);
	background: rgb(255,255,255,0.8);
	float: left;
	position: fixed;
	left: 5px;
	top: 5px;
	z-index: 2;
	border-radius: 0px;
}
#close-nav {
	background: rgb(255,255,255,0.8);
	float: left;
	position: fixed;
	left: 5px;
	top: 5px;
	z-index: 2;
	border-radius: 0px;
}
#sidebar-wrapper{
	background: gray;
	position: fixed;
	padding: 5px;
	width: auto;
	left: 5px;
	top: 5px;	
	z-index: 1;
	box-shadow: 1px 1px 1px #888888;
}
.brand {
	font-size: 18pt;
	font-weight: 700;
}
ul {
	list-style-type: none;
	margin: 10px;
	margin-top: 2px;
}
li {
	padding-left: 10px;
	text-align: middle;
}
.sidebar-nav {
	color: black;
}
#start {
	background: rgb(117, 129, 163); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163));
	z-index:-2;	
	height: 90vh;
	margin-bottom: 0px;
}
#learnmore {
	height: 10vh;
	text-align: center;
}
#learnmore a {
	color: rgb(117, 129, 163);
}
#learnmore p {
	padding-top: 10px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;	
}
#learnmore i {
	margin-top: 0px;
	padding-top: 0px;
}


.landing-text {
	text-align: center;
	padding-top: 20vh;
	color: white;
	animation: fadein 7s;
    -moz-animation: fadein 7s; /* Firefox */
    -webkit-animation: fadein 7s; /* Safari and Chrome */
    -o-animation: fadein 7s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.fa-github:hover {
	color: black;
	opacity: 0.6;
}
.fa-linkedin-square:hover {
	color: rgb(0,119,181);
	opacity: 0.6;
}
.fa-youtube-play:hover {
	color: red;
	opacity: 0.6;
}
.fa-twitter:hover {
	color: rgb(0, 172, 237);
	opacity: 0.6;
}
.landing-text h1 {
	font-weight: 700;
}
.icons {
	color: white;
	padding: 5px;
}

section h2 {
	color: rgb(117, 129, 163);
	font-weight: 700;
}
.about {
	padding-top: 30px;
	background-color: white;
}
.portfolio{
	text-align: center;
	padding-top: 30px;
	background-color: white;
}
.portfolio h2 {
	text-align: left;
}
.portfolio-img {
	width: 100%;
	height: auto;
}
img:hover{

opacity: 0.8;

}
.videos {
	padding-top: 30px;
	background-color: white;
}
footer {
	margin-top: 20px;
	text-align: center;
	color: white;
	padding: 20px;
	background: rgb(117, 129, 163); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, rgb(117, 129, 163), rgb(152, 117, 163));
}
footer a:hover {
	color: black;
}
footer a {
	color: white;
}
@media only screen and (max-device-width: 480px) {
	#nav-toggle {
		background: white;
		color: black;
	}
	#logo {
		height: 30px;
	}
	#sidebar-wrapper{
		width: 100%;
	}
	iframe {
		width:100%;
		height: auto;
	}
	#start {
		height: 90vh;
	}
	.landing-text{
		padding-top: 10vh;
	}
	#learnmore {
		height: 10vh;
	}
}
